.menu-icon-editor {
  position: absolute;
  left: 0px;
  top: 0px;
}

p {
  text-align: center;
}
h2{
  text-align: center;
}

.create-menu-item-button {
  position: absolute;
  right: 0px;
  top: 140px;
}
.edit-menu-button{
  position: absolute;
  left: 0px;
  top: 140px;
}

form{
  text-align: -webkit-center;
}
div{
  text-align: -webkit-center;
}