/* .hide-after-start.LiveMenu{
  display: none;
} */
header {
  z-index: 999;
  background-repeat: no-repeat;
  margin-left: 25px;
  top: 0;
  height: 150px;
  border: none;
  background-image: url("https://res.cloudinary.com/bobalobbadingdong/image/upload/v1596678633/LuxHeader_mcyhkg.png");
}
.lock-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
h1 {
  text-align: center;
}
