/* Nav Bar for LiveMenu  */
@charset "utf-8";

.nav {
  z-index:999;
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color:red;
  /* background: #fff; */
  overflow: auto;
  white-space: nowrap;
}

.nav__link{
  color: red;
}
